

.ui-checkbox {
  display: none;
  + label {
    position: relative;
    display: inline-block;
    padding-left: 36px;
    font-size: 15px;
    line-height: 24px;
    color: $black;
    font-family: $mmedium;
    letter-spacing: 0.02em;
    &:before {
      background-color: #fff;
      display: block;
      position: absolute;
      top: 0;
      left:0;
      content: "";
      width: 22px;
      height: 22px;
      background-image: url(../img/icons/checkbox-inactive.png);
    }

  }
  &:checked {
    + label {
      &:before {
        width: 22px;
        height: 22px;
        background-image: url(../img/icons/checkbox.png);
      }
      &:after {
        content: '';
        position: absolute;
        top: 1px;
        left: 4px;
        color: red;
      }
    }
  }
}
