//Colors:
$black: #1d1d1d;
$grey: #ededed;
$text__grey: #7c7c7c;
$repairs__bg: #f2f3f4;
$white: #fff;
$red: #e92518;
$green: #5ab854;

h2 {
  font-size: 42px;
  line-height: 50px;
  color: $black;
  letter-spacing: 0.02em;
  font-family: $pd;
  font-weight: $bold;
}
a {
  transition: .3s;
  &:hover {
    color: $red!important;
  }
}

.title-line {
  padding-top: 26px;
  position: relative;
  &:before {
    content: '';
    width: 28px;
    height: 10px;
    background-color: $red;
    position: absolute;
    display: inline-block;
    top: 12px;
    left: 50%;
    margin: -14px;
  }
}
.btn {
  @extend .order__form-submit;
  text-decoration: none;
  transition: .3s;
  &:hover {
    background-color: #1d1d1d;
    box-shadow: none;
    color: $white!important;
  }
}
label {
  width: 100%;
  display: inline-block;
  margin-bottom: 17px;
  position: relative;
  i {
    position: absolute;
    top: 18px;
    left: 18px;
    svg {
      width: 17px;
      height: 20px;

    }
  }
  input {
    box-sizing: border-box;
    font-size: 16px;
    font-family: $mlight;
    line-height: 34px;
    padding-left: 47px;
    width: 100%;
    border: none;
    padding-bottom: 13px;
    padding-top: 11px;
    border-bottom:2px solid $black;
    color: $black;
    &::placeholder {
      color: $black;
    }
  }
}
