.nav {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: $repairs__bg;
  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-description {
      color: $black;
      font-family: $mlighti;
      font-size: 11px;
      letter-spacing: 0.02em;
      padding-left: 14px;
    }
    &-about {
      letter-spacing: 0.02em;
      font-size: 12px;
      font-family: $mlight;
      color: $black;
      padding-left: 32px;
    }
  }
  &__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: auto;
    min-width: 602px;
    li {

      a {
        text-transform: uppercase;
        text-decoration: none;
        font-size: 15px;
        color: $black;
        font-family: $mmedium;
      }
    }
  }
  &__phone {
    display: flex;
    text-decoration: none;
    margin-left: 53px;
    svg {
      width: 18px;
      height: 18px;
      fill: $red;
    }
    &-number {
      letter-spacing: 0.04em;
      font-size: 20px;
      line-height: 20px;
      color: $black;
      font-family: $pd;
      font-weight: $bold;
      padding-left: 10px;
      text-decoration: none;
    }
  }
}
