.order {
  background: url(../img/order/order__bg.JPG) no-repeat center center;
  -webkit-background-size: cover;
  background-size: cover;
  min-height: 842px;
  width: 100%;
  padding-top: 71px;
  text-align: center;
  box-sizing: border-box;
  &__bg {
    position: absolute;
    height: 700px;
    width: 438px;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 1;
    &:before {
      content: url(../img/order/order__bg-left.png);
      position: absolute;
      top: 111px;
      left: 120px;
    }
    &:after {
      content: url(../img/order/order__bg-right.png);
      position: absolute;
      left: -147px;
      top: 241px;
    }
  }
  &__form {
    position: relative;
    height: 700px;
    width: 438px;
    z-index: 2;
    box-sizing: border-box;
    display: inline-block;
    background-color: $white;
    padding-top: 57px;
    box-shadow: 0 24px 44px 0 rgba(#202020, 0.41);
    &-img {
      position: absolute;
      top: -13px;
      left: 20px;
    }
    &-title {
      font-size: 30px;
      line-height: 34px;
      letter-spacing: 0.02em;
      color: $black;
      font-family: $pd;
      font-weight: $blacks;
      position: relative;
      padding-bottom: 30px;
    }
    form {
      width: 318px;
      margin: 0 auto;

    }
    &-info {
      font-size: 14px;
      line-height: 18px;
      letter-spacing: 0.02em;
      color: $black;
      font-family: $mlight;
      padding-bottom: 25px;
    }
    &-submit {
      cursor: pointer;
      padding: 0!important;
      display: flex;
      align-items: center;
      margin: 24px auto 31px;
      width: 262px;
      height: 54px;
      background-color: $red;
      border: none;
      font-size: 15px;
      font-family: $pd;
      font-weight: $bold;
      color: $white;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      justify-content: center;
      i {
        margin-left: 14px;
        svg {
          width: 24px;
          height: 24px;
          fill: $white;
        }
      }
    }
    &-person {
      font-size: 13px;
      font-family: $mlighti;
      line-height: 15px;
      color: $black;
      letter-spacing: 0.02em;
      span {
        white-space: nowrap;
        a {
          color: $black;
          text-decoration: underline;
        }
      }
    }
  }
}