.press {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 116px;
  padding-bottom: 116px;
  &__title {
    font-size: 30px;
    line-height: 34px;
    letter-spacing: 0.02em;
    &:before {
      left: 0;
      margin-left: 0;
    }
  }
  &__blocks {
    width: 888px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__block {
    width: 50%;
    display: inline-block;
    box-sizing: border-box;
    padding-left: 41px;
    min-height: 260px;
    border: 1px solid $repairs__bg;
    transition: .3s;
    &:hover {
      box-shadow: 0 17px 44px 0 rgba(218, 223, 228, 0.6);
    }
    &-header {
      display: flex;
      height: 90px;
      align-items: center;
      &-title {
        font-size: 15px;
        font-family: $mbold;
        letter-spacing: 0.02em;
        color: $black;
        margin-left: 20px;
        transition: .3s;
        text-decoration: none;
        &:hover {
          color: $red;
          cursor: pointer;
        }
      }
    }
    &-content {
      border-top:1px solid $repairs__bg;
      width: 365px;
      height: 1px;
      padding-top: 30px;
      &-description {
        font-size: 14px;
        line-height: 18px;
        font-family: $mlight;
        color: $black;
        letter-spacing: 0.02em;
      }
    }
  }
}