.price {
  background-color: $repairs__bg;
  padding-top: 75px;
  padding-bottom: 75px;
  &__title {
    text-align: center;
    padding-bottom: 65px;
  }
  &__table {
    width: 100%;
    &-all {
      position: relative;
      &:after {
        content: '';
        display: inline-block;
        width: 240px;
        position: absolute;
        height: 2px;
        bottom: 0;
        left: 30px;
        background-color: $red;
      }
    }
    &-premium {
      @extend .price__table-all;
      &:after {
        background-color: $green;
      }
    }
    tr {
      &:nth-child(even) {
        background-color: $white;
      }
      th {
        height: 80px;
        vertical-align: middle;
        width: 25%;
        font-size: 20px;
        line-height: 42px;
        color: $black;
        font-family: $pd;
        font-weight: $blacks;
        letter-spacing: 0.02em;
        &:nth-child(1) {
          padding-left: 36px;
          box-sizing: border-box;
        }
        &:nth-child(n+2) {
          text-align: center;
        }

      }

      td {
        height: 80px;
        vertical-align: middle;
        width: 25%;
        &:nth-child(1) {
          padding-left: 36px;
          box-sizing: border-box;
          font-size: 15px;
          letter-spacing: 0.02em;
          font-family: $mregular;
          color: $black;
          font-weight:inherit;
        }
        &:nth-child(n+2) {
          text-align: center;
        }
        font-size: 20px;
        letter-spacing: 0.02em;
        color: $black;
        font-family: $pd;
        font-weight: $bold;
        span {
          font-family: $rub;
          font-size: 14px;
        }
      }
    }
  }
  &__questions {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 67px;
    margin-bottom: 80px;
    &-title {
      font-size: 36px;
      line-height: 34px;
      font-family: $pd;
      font-weight: $blacks;
      letter-spacing: 0.02em;
      color: $black;
      &:before {
        left: 0;
        margin-left: 0;
        background-color: $green;
      }
    }
    &-description {
      font-size: 16px;
      font-family: $mmedium;
      color: $black;
      letter-spacing: 0.02em;
    }
    &-phone {

      i {
        margin-right: 13px;
        margin-top: auto;
      }
      span {
        font-size: 28px;
        line-height: 30px;
        color: $black;
        font-family: $pd;
        font-weight: $blacks;
      }
    }
  }
  &__form {
    &-inputs {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      label {
        width: 378px;
        input {
          background-color: transparent;
        }
      }
    }
    &-buttons {
      display: flex;
      max-width: 640px;
      align-items: center;
      margin-top: 30px;
      button {
        box-shadow: 0 17px 44px 0 rgba(206,47,36,.23);
      }
    }
  }
}