.project {
  background-color: $repairs__bg;
  padding-top: 73px;
  padding-bottom: 84px;
  text-align: center;
  &__title {
    font-size: 38px;
    font-family: $pd;
    font-weight: $blacks;
    color: $black;
    text-align: center;
  }
  #portfolio {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__nav {
    display: inline-block;
    margin-bottom: 60px;
    margin-top: 40px;
    li {
      float: left;
      margin: 0 2px;
      a {
        text-decoration: none;
        font-size: 16px;
        font-family: $mmedium;
        color: $black;
        display: inline-block;
        letter-spacing: 0.02em;
        padding: 8px 20px;
        border: 2px solid transparent;
        &.active {
          border: 2px solid $red;
          color: $red;
        }
      }
    }
  }
  .project__info {
    margin-bottom: 30px;
    width: 582px;
    height: 320px;
    position: relative;
    padding: 167px 60px 60px;
    box-sizing: border-box;
    display: flex;
    flex-direction:column;
    &:before {
        content: '';
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      //background-color: rgba(#1d1d1d, .38);
      background: linear-gradient(to right, rgba(#1d1d1d, .10) 0%, rgba(#1d1d1d, .38) 100%);
        z-index: 2;
    }
    &.remove {
      display: none;
    }
    &-img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      object-fit: cover;
    }
    &-size {
      max-width: 64px;
      box-sizing: border-box;
      position: relative;
      z-index: 2;
      margin-top: auto;
      font-size: 20px;
      line-height: 28px;
      letter-spacing: 0.02em;
      font-family: $mlight;
      color: $white;
      padding: 8px 17px 8px 8px;
      display: inline-block;
      border:1px solid $white;
      sub {
        font-family: $mlight;
        font-size: 13px;
        position: absolute;
        top: 3px;
        right: 10px;
      }
    }
    &-title {
      position: relative;
      z-index: 2;
      margin-top: 15px;
      font-size: 24px;
      line-height: 34px;
      letter-spacing: 0.02em;
      font-family: $pd;
      font-weight: $blacks;
      color: $white;
      text-align: left;
    }
    &-link {
      opacity: 0;
      position: absolute;
      z-index: 3;
      top: 0;
      left: 0;
      width: 100%;
      height: 320px;
      display: flex;
      align-items: center;
      margin: 0;
      justify-content: center;
      text-decoration: none;
      span {
        background-color: transparent;
        border: 2px solid $white;
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        transition: .3s;
        &:hover {
          background-color: $red;
          border-color: $red;
        }
      }
      &:before {
        content: '';
        display: inline-block;
        top: 0;
        left: 0;
        width: 582px;
        height: 320px;
        background-color: rgba($black, .53);
        z-index: 1;
      }
    }
    &:hover .project__info-link {
      opacity: 1!important;
    }
    &-small {
      width: 379px;
      height: 247px;
      padding-top: 132px;
      .project__info-size {
        font-size: 16px;
        sub {
          font-size: 10px;
        }
      }
      .project__info-title {
        font-size: 22px;
      }
      .project__info-link {
        height: 247px;
        &:before {
          width: 379px;
          height: 247px;
        }
      }
    }
    &-more {
      &:before {
        content: '';
        display: inline-block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
        background-color: rgba($white, .9);
      }
    }
  }
}
.dn {
  display: none!important;
}
.show_more {
  text-decoration: none;
  width: 100%;
  position: relative;
  top: -277px;
  height: 247px;
  margin-bottom: -247px;
  z-index: 10;
  span {
    font-weight: $bold;
    position: relative;
    top: 100px;
    z-index: 11;
    font-size: 18px;
    line-height: 34px;
    border-bottom:2px solid $red;
    transform: translateX(-50%);
    color: $black;
    letter-spacing: 0.02em;
    font-family: $pd;
  }
}

